
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "nikhilFont";
    src: url(./LastChristmas_PERSONAL_USE_ONLY.otf) format('OpenType');
}

h1{
    color: rgba(165, 42, 42, 0.5);
}
h3{
    color: rgb(0, 255, 255 ,0.3);

}
p{
    color: rgb(138, 43, 226, .9);
}
.hero-section{
    color: rgb(39, 208, 152);
}

p{
    color: currentColor;             
}

/* currentColor : parent ya nearest element ka color le lega  */
/* heu => purest form of color i.e. red  */
/* tint : adding white  */
/* shade : adding black  */
/* tone : tint + shade i.e. pure color with just grey(black+white) added  */

body{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    background-image: url("CSS_stater_file_thapaTechnical/images/mario-bg.png" ) ;
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-attachment: fixed; */
    /* background-position: bottom left; */
}
/*bg-size : contain : 100%
            cover : 100% 100% */

#div1 h2{
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-variant: small-caps;

}

#div1 p{
    font-family: "jost", sans-serif;
    font-weight: 400;
    font-style: italic;

}

body{
    background-color: antiquewhite;
    display: grid;
    place-items: center;
}

.hero-section, .fonts{
    width: 70%;
}

#customFont h2,p{
    font-family: "nikhilFont","jost", sans-serif;     
} 

/* here jost and sans-serif act as fallback fonts  */

/*? Common font formats and their corresponding format values are: */

/* TrueType Font (.ttf): format('truetype') or format('opentype') */
/* WOFF Font (.woff): format('woff') */
/* WOFF2 Font (.woff2): format('woff2') */
/* Embedded OpenType Font (.eot): format('embedded-opentype') */
/* SVG Font (.svg): format('svg')  */